@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos{
    margin-top: 5rem;
    overflow: hidden;
    &__wave{

    }

    &__contenido{
        background-color: v.$primario;
        margin-top: -0.1rem;
    }

    &__heading{
        text-align: center;
        color: v.$blanco;

        &--descripcion{
            font-size: 1.8rem;
            display: block;
        }
    }

    &__grid{
        @include m.tablet {
            @include m.grid(3, v.$separacion);
        }
    }

    &__imagen{
        &:hover{
            transition-property: transform;
            transition-duration: 300ms;
            transform: rotate(-4deg) scale(1.2);
        }
    }
}